body {
    background: #f4f4f4;
}

.page-space {
    margin-top: 90px;
}

.content-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
